body{background: #fff;}
.result-wrap{
  margin-top: 50%;
  text-align: center;
  font-size: 26px;
  color: #333;
  .banner{
    line-height: 0;
    width: 100%;
    img{width: 100%;}
  }
  .gift{
    font-size: 48px;
    span{
      color: #f60;
    }
  }
}
