.left {
  float           : left;
  height          : 200px;
  width           : 30%;
  background-color: yellow;
}
.right {
  float           : right;
  height          : 100px;
  width           : 40%;
  background-color: red;
}
